services:
  mysql:
    image: mysql:8.4
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: chat_app
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ./mysql:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - chat_network
  
  neo4j:
    image: neo4j:5
    container_name: chat-neo4j
    ports:
      - "7474:7474"   
      - "7687:7687"  
    environment:
      NEO4J_AUTH: ${NEO4J_USERNAME}/${NEO4J_PASSWORD}
    volumes:
      - neo4j_data:/data
    networks:
      - chat_network

  backend:
    build: ./backend
    container_name: chat-backend
    depends_on:
      mysql:
        condition: service_healthy

    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - chat_network
  frontend:
    build: ./frontend
    container_name: chat-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - chat_network

networks:
  chat_network:
    driver: bridge

volumes:
  mysql_data:
  neo4j_data: