.chat-container {
  max-width: 1300px;
  margin: 40px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 87vh;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.chat-box {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  margin: 15px 0;
  background: #f9fafb;
  border-radius: 8px;
  
}
.logout-button{
    padding: 8px 16px;
    background: #ef4444;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    max-width: 100px;
}
.message {
  max-width: 70%;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 16px;
  line-height: 1.4;
}

.message.user {
  margin-left: auto;
  background: #4f46e5;
  color: white;
  border-bottom-right-radius: 4px;
}

.message.assistant {
  margin-right: auto;
  background: #e5e7eb;
  color: #111;
  border-bottom-left-radius: 4px;
}

.chat-input {
  display: flex;
  gap: 10px;
}

.chat-input input {
  flex: 1;
}

.chat-input button {
  width: 120px;
}
